<div class="row">
  <div class="col-md-6">
    <p>All workshop sessions will begin 9:00 am and end at 12:30 pm (US Central Time).
    Participants are encouraged to show up 30 min early on the first day to check their </p>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td><b>January 10</b></td>  <td><a href="https://swcarpentry.github.io/shell-novice/">Automating Tasks with the Unix Shell</a></td> </tr>
      <tr> <td><b>January 12</b></td>  <td><a href="https://uw-madison-datascience.github.io/git-novice-custom/">Version Control with Git/GitHub</a></td> </tr>
      <tr> <td><b>January 14</b></td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/">Plotting and Programming with Python, Part 1</a></td> </tr>
      <tr> <td><b>January 19</b></td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/">Plotting and Programming with Python, Part 2</a></td> </tr>
      <tr> <td><b>January 21</b></td>  <td><a href="https://carpentries-incubator.github.io/swc-ext-python/">Workflows with Python and Git</a></td> </tr>
      <tr> <td>16:30</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
    </table>
  </div>
</div>


